.force-dialog{
  transition:all 0.3s ease 0s;
  width:270px;
  height:auto;
  max-height:270px;
  margin:0px;
  padding:0px;
  background-color:#fff;
  display:block;
  position:fixed;
  z-index:99999;
  top:-100vh;
  left:calc(50vw - 135px);
  box-shadow:0px 0px 15px #999;
  border:0px none;
  border-radius:10px;
  overflow:hidden;
  font-family:arialnarrow,system-ui,monospace;
}
.force-dialog-show{
  top:calc(50vh - 135px);
}
.force-dialog-background{
  transition:all 0.5s ease 0s;
  width:100vw;
  height:100vh;
  margin:0px;
  padding:0px;
  background-color:#fff;
  opacity:0.5;
  display:block;
  position:fixed;
  z-index:99998;
  top:0px;
  left:0px;
  right:0px;
  bottom:0px;
  border:0px none;
  overflow:hidden;
}
.force-dialog-title{
  font-weight:bold;
  font-size:20px;
  color:#555;
  border-bottom:1px solid #ddd;
  box-shadow:0px 1px 5px #ddd;
  margin:0px;
  padding:0px;
  text-align:center;
  height:50px;
  line-height:50px;
  overflow:hidden;
  white-space:pre-wrap;
  font-family:inherit,system-ui,monospace;
}
.force-dialog-title:before{
  content:attr(data-text);
}
.force-dialog-text-out{
  margin:0px;
  padding:20px 10px;
  overflow:hidden;
}
.force-dialog-text{
  font-size:16px;
  color:#555;
  margin:0px;
  padding:0px;
  overflow-x:hidden;
  overflow-y:auto;
  white-space:pre-wrap;
  word-wrap:pre-wrap;
  word-break:break-all;
  height:auto;
  max-height:113px;
  text-align:center;
  font-family:inherit,system-ui,monospace;
}
.force-dialog-text:before{
  content:attr(data-text);
}
.force-dialog-text-left{
  text-align:left;
}
.force-dialog-input{
  width:calc(100% - 20px);
  font-size:16px;
  border:1px solid #ddd;
  border-radius:5px;
  margin:10px 10px 10px;
  padding:7px 13px;
  color:#333;
  font-weight:normal;
  background-color:#eed;
  font-family:inherit,system-ui,monospace;
}
.force-dialog-button-out{
  border-top:1px solid #ddd;
  box-shadow:0px -1px 5px #ddd;
  margin:0px;
  padding:0px;
  text-align:center;
  height:65px;
  line-height:60px;
  overflow:hidden;
}
.force-dialog-button:focus{
  background-color:#ccb;
  outline:none;
}
.force-dialog-button:hover{
  background-color:#ddc;
}
.force-dialog-button:disabled{
  background-color:#ddc;
  color:#333;
  opacity:0.8;
}
.force-dialog-button:before{
  content:attr(data-text);
}
.force-dialog-button{
  background-color:#eed;
  padding:5px 11px;
  border:0px none;
  color:#333;
  font-size:16px;
  margin:0px 0px;
  border-radius:3px;
  cursor:default;
  transition:all 0.3s ease 0s;
  box-shadow:1px 1px 3px #777;
  outline:none;
  font-weight:bold;
  font-family:inherit,system-ui,monospace;
}
.force-dialog-button-left{
  margin-right:10px;
}
.force-dialog-button-blue:focus{
  background-color:#159;
}
.force-dialog-button-blue:hover{
  background-color:#26a;
}
.force-dialog-button-blue{
  color:#fff;
  background-color:#37b;
}
.force-dialog-button-soft-green:focus{
  background-color:#591;
}
.force-dialog-button-soft-green:hover{
  background-color:#6a2;
}
.force-dialog-button-soft-green{
  color:#fff;
  background-color:#7b3;
}
.force-dialog-button-orange:focus{
  background-color:#951;
}
.force-dialog-button-orange:hover{
  background-color:#a62;
}
.force-dialog-button-orange{
  color:#fff;
  background-color:#b73;
}
.force-dialog-button-red:focus{
  background-color:#a11;
}
.force-dialog-button-red:hover{
  background-color:#b22;
}
.force-dialog-button-red{
  color:#fff;
  background-color:#c33;
}
.force-dialog-button-yellow:focus{
  background-color:#aa1;
}
.force-dialog-button-yellow:hover{
  background-color:#bb2;
}
.force-dialog-button-yellow{
  color:#fff;
  background-color:#cc3;
}
.force-dialog-button-purple:focus{
  background-color:#519;
}
.force-dialog-button-purple:hover{
  background-color:#62a;
}
.force-dialog-button-purple{
  color:#fff;
  background-color:#73b;
}
.force-dialog-button-pink:focus{
  background-color:#915;
}
.force-dialog-button-pink:hover{
  background-color:#a26;
}
.force-dialog-button-pink{
  color:#fff;
  background-color:#b37;
}
.force-dialog-button-tosca:focus{
  background-color:#195;
}
.force-dialog-button-tosca:hover{
  background-color:#2a6;
}
.force-dialog-button-tosca{
  color:#fff;
  background-color:#3b7;
}
.force-dialog-button-violet:focus{
  background-color:#a1a;
}
.force-dialog-button-violet:hover{
  background-color:#b2b;
}
.force-dialog-button-violet{
  color:#fff;
  background-color:#c3c;
}
.force-dialog-button-light-blue:focus{
  background-color:#1aa;
}
.force-dialog-button-light-blue:hover{
  background-color:#2bb;
}
.force-dialog-button-light-blue{
  color:#fff;
  background-color:#3cc;
}
.force-dialog-button-dark-blue:focus{
  background-color:#11a;
}
.force-dialog-button-dark-blue:hover{
  background-color:#22b;
}
.force-dialog-button-dark-blue{
  color:#fff;
  background-color:#33c;
}
.force-dialog-button-green:focus{
  background-color:#1a1;
}
.force-dialog-button-green:hover{
  background-color:#2b2;
}
.force-dialog-button-green{
  color:#fff;
  background-color:#3c3;
}
