.dialog{
  transition:all 0.3s ease 0s !important;
  width:270px !important;
  height:auto !important;
  max-height:270px !important;
  margin:0px !important;
  padding:0px !important;
  background-color:#fff !important;
  display:block !important;
  position:fixed !important;
  z-index:99999 !important;
  top:-100vh !important;
  left:calc(50vw - 135px) !important;
  box-shadow:0px 0px 15px #999 !important;
  border:0px none !important;
  border-radius:10px !important;
  overflow:hidden !important;
}
.dialog-show{
  top:calc(50vh - 135px) !important;
}
.dialog-background{
  transition:all 0.5s ease 0s !important;
  width:100vw !important;
  height:100vh !important;
  margin:0px !important;
  padding:0px !important;
  background-color:#fff !important;
  opacity:0.5 !important;
  display:block !important;
  position:fixed !important;
  z-index:99998 !important;
  top:0px !important;
  left:0px !important;
  right:0px !important;
  bottom:0px !important;
  border:0px none !important;
  overflow:hidden !important;
}
.dialog-title{
  font-weight:bold !important;
  font-size:20px !important;
  color:#555 !important;
  border-bottom:1px solid #ddd !important;
  box-shadow:0px 1px 5px #ddd !important;
  margin:0px !important;
  padding:0px !important;
  text-align:center !important;
  height:50px !important;
  line-height:50px !important;
  overflow:hidden !important;
  white-space:pre-wrap !important;
}
.dialog-title:before{
  content:attr(data-text) !important;
}
.dialog-text-out{
  margin:0px !important;
  padding:20px 10px !important;
  overflow:hidden !important;
}
.dialog-text{
  font-size:16px !important;
  color:#555 !important;
  margin:0px !important;
  padding:0px !important;
  overflow-x:hidden !important;
  overflow-y:auto !important;
  white-space:pre-wrap !important;
  word-wrap:pre-wrap !important;
  word-break:break-all !important;
  height:auto !important;
  max-height:113px !important;
  text-align:center !important;
}
.dialog-text:before{
  content:attr(data-text) !important;
}
.dialog-text-left{
  text-align:left !important;
}
.dialog-input{
  width:calc(100% - 20px) !important;
  font-size:16px !important;
  border:1px solid #ddd !important;
  border-radius:5px !important;
  margin:10px 10px 10px !important;
  padding:7px 13px !important;
  color:#333 !important;
  font-weight:normal !important;
  background-color:#eed !important;
}
.dialog-button-out{
  border-top:1px solid #ddd !important;
  box-shadow:0px -1px 5px #ddd !important;
  margin:0px !important;
  padding:0px !important;
  text-align:center !important;
  height:65px !important;
  line-height:60px !important !important;
  overflow:hidden !important;
}
.dialog-button:focus{
  background-color:#ccb !important;
  outline:none !important;
}
.dialog-button:hover{
  background-color:#ddc !important;
}
.dialog-button:disabled{
  background-color:#ddc !important;
  color:#333 !important;
  opacity:0.8 !important;
}
.dialog-button:before{
  content:attr(data-text) !important;
}
.dialog-button{
  background-color:#eed !important;
  padding:5px 11px !important;
  border:0px none !important;
  color:#333 !important;
  font-size:16px !important;
  margin:0px 0px !important;
  border-radius:3px !important;
  cursor:default !important;
  transition:all 0.3s ease 0s !important;
  box-shadow:1px 1px 3px #777 !important;
  outline:none !important;
  font-weight:bold !important;
}
.dialog-button-left{
  margin-right:10px !important;
}
.dialog-button-blue:focus{
  background-color:#159 !important;
}
.dialog-button-blue:hover{
  background-color:#26a !important;
}
.dialog-button-blue{
  color:#fff !important;
  background-color:#37b !important;
}
.dialog-button-soft-green:focus{
  background-color:#591 !important;
}
.dialog-button-soft-green:hover{
  background-color:#6a2 !important;
}
.dialog-button-soft-green{
  color:#fff !important;
  background-color:#7b3 !important;
}
.dialog-button-orange:focus{
  background-color:#951 !important;
}
.dialog-button-orange:hover{
  background-color:#a62 !important;
}
.dialog-button-orange{
  color:#fff !important;
  background-color:#b73 !important;
}
.dialog-button-red:focus{
  background-color:#a11 !important;
}
.dialog-button-red:hover{
  background-color:#b22 !important;
}
.dialog-button-red{
  color:#fff !important;
  background-color:#c33 !important;
}
.dialog-button-yellow:focus{
  background-color:#aa1 !important;
}
.dialog-button-yellow:hover{
  background-color:#bb2 !important;
}
.dialog-button-yellow{
  color:#fff !important;
  background-color:#cc3 !important;
}
.dialog-button-purple:focus{
  background-color:#519 !important;
}
.dialog-button-purple:hover{
  background-color:#62a !important;
}
.dialog-button-purple{
  color:#fff !important;
  background-color:#73b !important;
}
.dialog-button-pink:focus{
  background-color:#915 !important;
}
.dialog-button-pink:hover{
  background-color:#a26 !important;
}
.dialog-button-pink{
  color:#fff !important;
  background-color:#b37 !important;
}
.dialog-button-tosca:focus{
  background-color:#195 !important;
}
.dialog-button-tosca:hover{
  background-color:#2a6 !important;
}
.dialog-button-tosca{
  color:#fff !important;
  background-color:#3b7 !important;
}
.dialog-button-violet:focus{
  background-color:#a1a !important;
}
.dialog-button-violet:hover{
  background-color:#b2b !important;
}
.dialog-button-violet{
  color:#fff !important;
  background-color:#c3c !important;
}
.dialog-button-light-blue:focus{
  background-color:#1aa !important;
}
.dialog-button-light-blue:hover{
  background-color:#2bb !important;
}
.dialog-button-light-blue{
  color:#fff !important;
  background-color:#3cc !important;
}
.dialog-button-dark-blue:focus{
  background-color:#11a !important;
}
.dialog-button-dark-blue:hover{
  background-color:#22b !important;
}
.dialog-button-dark-blue{
  color:#fff !important;
  background-color:#33c !important;
}
.dialog-button-green:focus{
  background-color:#1a1 !important;
}
.dialog-button-green:hover{
  background-color:#2b2 !important;
}
.dialog-button-green{
  color:#fff !important;
  background-color:#3c3 !important;
}
