.force-loader{
  position:fixed;
  width:0px;
  height:0px;
  top:50%;
  left:50%;
  z-index:10000;
  -webkit-user-select:none;
  -moz-user-select:none;
  user-select:none;
  font-family:arialnarrow,system-ui,monospace;
}
.force-loader-background{
  background-color:#fff;
  opacity:1;
  position:fixed;
  width:100%;
  height:100%;
  top:0px;
  left:0px;
  right:0px;
  bottom:0px;
  margin:0px;
  padding:0px;
  z-index:10001;
}
.force-loader-image{
  margin:-70px 0px 0px 0px;
  padding:0px;
  left:0px;
  width:100%;
  height:32px;
  line-height:32px;
  vertical-align:top;
  text-align:center;
  font-family:inherit,system-ui,monospace;
  color:#777;
  font-size:13px;
  z-index:10002;
  position:fixed;
}
.force-loader-image img{
  width:32px;
  height:32px;
}
.force-loader-text{
  margin:-35px 0px 0px 0px;
  padding:0px;
  left:0px;
  width:100%;
  height:50px;
  cursor:default;
  line-height:15px;
  vertical-align:top;
  text-align:center;
  position:fixed;
  font-family:inherit,system-ui,monospace;
  color:#777;
  font-size:13px;
  z-index:10002;
}
.force-loader-info{
  margin:-19px 0px 0px 0px;
  padding:0px;
  left:0px;
  width:100%;
  height:50px;
  cursor:default;
  line-height:15px;
  vertical-align:top;
  text-align:center;
  position:fixed;
  font-family:inherit,system-ui,monospace;
  color:#777;
  font-size:13px;
  z-index:10002;
}
.force-loader-info-with-progress{
  margin:-4px 0px 0px 0px;
}
.force-loader-progress{
  margin:-13px 0px 0px 0px;
  padding:0px;
  height:5px;
  border:0px none;
  border-radius:2px;
  width:calc(100% - 30px);
  background-color:#ddd;
  transition:all 0.1s ease 0s;
  cursor:default;
  position:fixed;
  z-index:10002;
  left:15px;
}
.force-loader-progress::-moz-progress-bar{
  background:#9d5;
  border-radius:2px;
}
.force-loader-progress::-webkit-progress-value{
  background:#9d5;
  border-radius:2px;
}
.force-loader-progress::-webkit-progress-bar{
  background:#ddd;
  border-radius:2px;
}
.force-splash{
  display:block;
  position:fixed;
  z-index:9999;
  top:7%;
  left:calc(15% - 20px);
  background-color:#000;
  color:#fff;
  opacity:0.5;
  padding:10px 20px;
  width:70%;
  max-width:70%;
  max-height:70%;
  text-align:center;
  border:0px none;
  border-radius:7px;
  transition:all 0.3s ease 0s;
  white-space:pre-wrap;
  overflow-x:hidden;
  overflow-y:auto;
  word-break:break-word;
  -moz-user-select:none;
  -webkit-user-select:none;
  user-select:none;
  font-size:13px;
  font-family:arialnarrow,system-ui,monospace;
}
